.home-container{
    display: grid;
    grid-template-columns: minmax(20%, 250px) 1fr;
}
.form-and-products {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__form {
    margin-top: 4rem;
    height: 5rem;
    width: 80%;
    display: flex;
}
.home__form input {
    padding: 0 2rem;
    width: 90%;
    height: 100%;
    color: #515151;
    border: 1px solid #dcd9d9;
}
.home__form button {
    width: 10%;
    height: 100%;
    background-color: #f85555;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    color: white;
}
.categories-filter-container {
    position: relative;
}
@media (max-width: 500px){
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .form-and-products {
        width: 100%;
        gap: 22.5rem;
    }
    .categories-filter-container {
        position: absolute;
        top: 180px;
    }
    .home__form input {
        width: 75%;
    }
    .home__form button {
        width: 25%;
    }
}