.product-list {
    list-style: none;
    margin: 0 5rem 5rem 5rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 6rem;
    justify-content: center;
    align-items: center;
}
.loader-products {
    justify-self: center;
    height: 100vh;
}