.product-detail {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    min-height: calc(100vh - 80px);
}
.product-detail__info {
    width: 100%;
    height: 70vh;
    display: flex;
}
.product-detail__img-section {
    width: 50%;
    display: flex;
    justify-content: center;
}
.product-detail__img-container {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
}
.product-detail__img-container img {
    max-width: 100%;
    max-height: 100%;
}
.product-detail__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-detail__brand {
    margin: 0 0 1rem 0;
    width: 90%;
    color: #c7c7c7;
    font-size: 1.8rem;
    font-weight: 200;
}
.product-detail__title {
    margin: 0 0 2rem 1rem;
    width: 90%;
    color: #515151;
}
.product-detail__description {
    margin: 0 0 2rem 0;
    padding: 0;
    width: 90%;
    color: #515151;
    line-height: 1.5;
}
.product-detail__price-and-quantity {
    margin-bottom: 5rem;
    width: 90%;
    display: flex;
    gap: 50%;
    align-items: center;
}
.product-detail__price-label, .product-detail__quantity-label {
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    color: #c7c7c7;
    font-weight: 400;
}
.product-detail__price-content {
    margin: 0 0 0 1rem;
    font-size: 2rem;
    color: #515151;
    font-weight: bold;
}
.product-detail__quantity-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product-detail__quantity-container {
    width: 100%;
    display: flex;
}
.product-detail__quantity-content {
    width: 6rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dcd9d9;
}
.product-detail__quantity-btn {
    background: none;
    border: solid 1px #dcd9d9;
    height: 30px;
    font-size: 2rem;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product-detail__add-btn {
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #f85555;
    color: white;
    padding: 15px;
    font-size: 2.5rem;
    gap: 2rem;
    border-radius: 5px;
}
.product-detail h4 {
    align-self: center;
    margin-bottom: 2rem;
    color: #f85555;
}
.loader-product-detail {
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px){
    .product-detail {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .product-detail__info {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem 0 2rem;
        gap: 2rem;
    }
    .product-detail__img-section {
        width: 100%;
    }
    .product-detail__details {
        width: 100%;
    }
    .product-detail__price-and-quantity{
        justify-content: space-between;
        gap: 0;
    }
}
@media (max-width: 500px){
    .product-detail__info {
        padding: 0 1rem 0 1rem;
    }
}